.el-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.el-form .el-form-item__label {
  flex: 1;
}

.el-form .el-form-item__content {
  gap: 20px;
  flex-direction: column;
}

.el-table {
  margin-bottom: 20px;
}